beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.7.22
chardet==7.6.0
charset-normalizer==3.5.1
idna==3.20
legacy-cgi==2.6.4
markdown-it-py==4.2.0
mdurl==0.1.2
pycurl==7.48.0
Pygments==2.21.0
pyparsing==3.3.3
pytz==2026.4
requests==2.34.2
rich==15.0.0
setuptools==81.0.0
six==1.17.0
soupsieve==2.10
tomlkit==0.15.1
typing_extensions==4.16.0
urllib3==2.8.0

